*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    --font-app: 'Roboto', sans-serif;
    --font-secundary: 'Roboto Mono', monospace;
    --font-size: 2rem;

    --color-bg: #222225;
    --color-letter: #FFFFFF;
    --font-predominant: #065E7C;
}

html{
    background-color: var(--color-bg);
}

body * {
    font-family: var(--font-app);
    font-size: var(--font-size);
    color: var(--color-letter);
}

body{
    padding: 0 16rem;
}

#app{
    max-width: 112rem;
    margin: 11.5rem auto;
}

header {
    display: flex;
    justify-content: space-between;
}

.search{
    display: flex;
    flex-direction: row;

    
}

.search input{
    width: 46.2rem;
    margin-right: .8rem;
    border-radius: .5rem;
    padding: 1.6rem;
    border: none;
    background-color: #065e7c40;
    color: var(--color-letter);
    line-height: 1.6rem;
}

.search input::placeholder{
    font-size: 16px;
    color: #7C7C8A;
}

.search button{
    background-color: var(--font-predominant);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;

    border: none;
    border-radius: .5rem;
    cursor: pointer;

    padding: 1.2rem 3.2rem;
}

.table-wrapper{
    margin-top: 8.7rem;
    overflow: auto;
    width: 100%;
    overflow-y: scroll;
    border-radius: 1.2rem;
}

table {
    width: 100%;
    height: 500px;
    border-collapse: collapse;

    text-align: left;
    padding: 1.6rem 4rem;

    border-radius: 1.2rem;
}

table th, td{
    padding: 1.6rem 4rem;
} 

th{
    position: sticky;
    top: 0px;
    background-color: #065E7C;
}

tbody .user img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    overflow: hidden;
}

table .user{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.6rem ;
}

table .user p{
    font-weight: 700;
}

table .user a{
    font-weight: 400;
    text-decoration: none;
}

table tbody td:nth-child(4){
    color: #F75A68;
    font-weight: 700;
    cursor: pointer;
}

.remove{
    border: none;
    background-color: transparent;
    color: #F75A68;
    font-weight: 700;
    transition: all .1s ease-in;
}

.remove:hover{
    cursor: pointer;
    transform: scale(1.1);
    color: #fc0d21;
}

table tbody tr:nth-child(odd){
    background-color: #033e5220;
}
table tbody tr:nth-child(even){
    background-color: #0443584f;
}


.table-wrapper::-webkit-scrollbar {
    width: .9rem;
    background: transparent;
}
.table-wrapper::-webkit-scrollbar-thumb {
    background: #4A808C;
    border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-track{
    height: 70px;
    background-color: transparent;
}

.table-wrapper::-webkit-scrollbar-track-piece{
    background-color: transparent;
}

.hidden{
    display: none;
}

.bgImagem{
    border-radius: 1.2rem;
    overflow: hidden;
}

.bgImagem table{
    border-radius: 1.2rem 1.2rem 0 0 ;
    margin-top: 8.7rem;
    height: 20px;
    overflow: hidden;
}

.vazio{
    background-color: #7c7c8a1c;
    height: 624px;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.vazio p{
    font-family: var(--font-secundary);
    font-size: 4rem;
    color:  #4E5455;;
}

